#######################################
# Root / General / OS
#######################################
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db
*.log
*.tmp
*.temp
/connect.lock
/libpeerconnection.log
testem.log

#######################################
# .NET / C# / IDEs
#######################################
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.iml
.vs/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

#######################################
# Environment & Secrets 
#######################################
.env
.env.*
!.env.example
**/appsettings.json
**/appsettings.Development.json
**/appsettings.local.json
**/UserSecretsId
**/environment.development.ts
**/environment.local.ts

#######################################
# NuGet / Node / Angular
#######################################
*.nupkg
packages/
.nuget/
**/node_modules/
**/dist/
**/out-tsc
**/bazel-out
**/tmp
**/.angular/
**/.angular/cache
.sass-cache/
**/coverage/
**/typings
__screenshots__/
npm-debug.log*
yarn-error.log*
*-debug.log*
*-error.log*

#######################################
# Docker & DB
#######################################
docker-compose.override.yml
*.pgsql
*.sql.backup