#######################################
# Root / General
#######################################
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp

#######################################
# .NET / C# / vscode
#######################################
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/
*.sln.iml

#######################################
# Environment & Secrets 
#######################################
.env
.env.*
!.env.example
**/appsettings.json
**/appsettings.Development.json
**/appsettings.local.json
**/UserSecretsId
**/environment.development.ts
**/environment.local.ts

#######################################
# NuGet / Node / Angular
#######################################
*.nupkg
packages/
.nuget/
**/node_modules/
dist/
.angular/
coverage/
*-debug.log*
*-error.log*

#######################################
# Docker & DB
#######################################
docker-compose.override.yml
*.pgsql
*.sql.backup

#######################################
# OS Generated
#######################################
ehthumbs.db
Desktop.ini